<div class="page">
  <div class="content">
    <div class="logo-container">
      <mat-icon class="logo" svgIcon="logo"></mat-icon>
    </div>
    <h1 class="main-heading">Reset your password</h1>
    <p class="subtitle">
      Your new password must be different to previously used passwords.
    </p>

    <form class="reset-password-form">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input
          matInput
          [type]="hidePassword() ? 'password' : 'text'"
          [(ngModel)]="password"
          name="password"
          required
          minlength="8"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="toggleVisibility('password', $event)"
          [attr.aria-label]="'Toggle password visibility'"
        >
          <mat-icon>{{
            hidePassword() ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
      </mat-form-field>
      <p class="hint-text">Must be at least 8 characters</p>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Confirm password</mat-label>
        <input
          matInput
          [type]="hideConfirm() ? 'password' : 'text'"
          [(ngModel)]="confirmPassword"
          name="confirmPassword"
          required
          minlength="8"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="toggleVisibility('confirm', $event)"
          [attr.aria-label]="'Toggle confirm password visibility'"
        >
          <mat-icon>{{
            hideConfirm() ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
      </mat-form-field>

      @if(errorMessage()) {
      <div class="error-text">{{ errorMessage() }}</div>
      }

      <button
        mat-flat-button
        color="primary"
        class="submit-button"
        type="submit"
        [disabled]="!isFormValid"
        (click)="onSubmit()"
      >
        Reset password
      </button>
    </form>

    <p class="legal-text">
      By clicking “Continue” you agree to our
      <a href="#">User Terms of Service</a> and <a href="#">Privacy Policy</a>.
    </p>
  </div>
</div>
