<div class="privacy-policy">
  <app-motion-background></app-motion-background>
  <div class="logo">
    <img src="assets/icons/logo.svg" alt="Logo" />
  </div>

  <div class="header">
    <div class="heading">
      <h1>Privacy Policy</h1>
    </div>
    <div class="heading2">
      <h2>POPIA Policy / Policy Statement</h2>
    </div>
  </div>

  <div class="terms">
    <div class="terms-box">
      <markdown class="terms-copy" [src]="termsSource"></markdown>
    </div>
  </div>

  <div class="close-button">
    <button type="button" (click)="close()">Close</button>
  </div>
</div>
