<div class="page">
  <app-motion-background></app-motion-background>
  <div class="content">
    <div class="logo-container">
      <mat-icon class="logo" svgIcon="logo"></mat-icon>
    </div>

    <mat-icon class="check">check_circle_outline</mat-icon>
    <app-page-title [title]="title()"></app-page-title>

    <p>Redirecting you now. If nothing happens, use this link:</p>
    <p><a [href]="passthroughLink()">Continue</a></p>
  </div>

  <app-support-callout sourceTag="Email Passthrough"></app-support-callout>
</div>
