.dialog {
  h2 {
    color: var(--mat-sys-primary);
  }
}
.dialog-content {
  display: flex;
  flex-direction: column;
  gap: 12px;

  p {
    color: var(--mat-sys-secondary);
  }
}

.reset-form {
  display: flex;
  flex-direction: column;
}

.field {
  width: 100%;
}

.status {
  margin: 0;
  font-size: 14px;
  color: green;
}

.status.error {
  color: var(--mat-sys-error);
}
