<div class="confetti" aria-hidden="true">
  <img
    class="dot d1"
    ngSrc="assets/images/circle_1.png"
    alt=""
    width="22"
    height="22"
  />
  <img
    class="dot d2"
    ngSrc="assets/images/circle_2.png"
    alt=""
    width="22"
    height="22"
  />
  <img
    class="dot d3"
    ngSrc="assets/images/circle_1.png"
    alt=""
    width="22"
    height="22"
  />
  <img
    class="dot d4"
    ngSrc="assets/images/circle_2.png"
    alt=""
    width="22"
    height="22"
  />
  <img
    class="dot d5"
    ngSrc="assets/images/circle_1.png"
    alt=""
    width="22"
    height="22"
  />
</div>
